.keys-one {

    border-bottom: 2px solid#E6E6F0;
    padding: 30px 0;
    &__wer {
        width: 136px;
    }

    h3 {
        font: 600 25px'Graphiklcg';
        line-height: 30px;
        margin: 0;
        padding: 10px 0 30px;
        background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 768px) {
            font: 600 30px'Graphiklcg';
            line-height: 35px;
        }
        @media (min-width: 992px) {
            font: 600 38px'Graphiklcg';
            line-height: 46px;
        }
    }

    .mini-map{
        grid-gap: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "p" "t" "s";
        

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "p t" "s s";
        }

        @media (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "p t s";
        }

        #mini-map__mini {
            grid-area: p;

        }

        #mini-map__mani {
            grid-area: t;

        }

        #mini-map__moni {
            grid-area: s;

        }

        &__topbot {
            width: 97%;
            background: #FFFFFF;

            .port {
                padding: 30px;
                h5 {
                    font: 600 16px'Graphiklcg';
                    line-height: 20px;
                    margin: 0;
                    color: #24A3FF;
                }
    
                .timedate {
                    font: 600 12px'Graphiklcg';
                    line-height: 15px;
                    width: 100%;
                    padding: 15px 0;
                    text-transform: uppercase;
                    color: #B3B3BA;
                    border-bottom: 4px solid  #E6E6F0;;
                }

                .pad {
                    padding-top: 15px;
                    font: 400 14px'Graphiklcg';
                    line-height: 22px;

                    p {
                        margin: 0;
                    }
                }
            }

        }
    }

}

a:hover {
    color: greenyellow;
}

li:hover {
    color: green;
}

.bottom-footer {
    padding-top: 30px;
    

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    &__display {
        padding-bottom: 30px;
        .beta {
            padding: 0 0 10px 0;
            margin: 0;
            align-items: center;

            li:hover {
                color: #F0145A;           
            }

            @media (min-width: 768px) {
                display: flex; 
                padding: 0 0 30px 0;
            }

            & li {
                padding: 10px 0;

                @media (min-width: 768px) {
                   padding: 0;
                }
            }

            li:first-child {
                text-align: center;
                font: 400 16px'Montserrat', sans-serif;
                line-height: 20px;
                color: #323264;
                list-style: none;
                margin-right: 26px;
            }

            li:last-child {
                color: grey;
                text-align: center;
                list-style: none;

                @media (min-width: 768px) {
                    list-style-type: circle;
                    color: #B3B3BA;
                }

                a {
                    font: 700 12px'Montserrat', sans-serif;
                    line-height: 15px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #24A3FF;
                }
            }
        }

        .proversion{
            margin: 0;
            padding: 0;
            text-align: center;


            @media (min-width: 768px) {
                display: flex; 
                align-items: center;
            }

            li {
                padding: 10px 0;
                color: grey;

                a:hover {
                    color: #F0145A;           
                }

                @media (min-width: 768px) {
                   padding: 0;
                }

                &:nth-child(2) {
                    list-style: none;

                    @media (min-width: 768px) {
                        list-style-type: circle;
                        color: #B3B3BA;
                    }
                }

                &:nth-child(3) {
                    list-style: none;

                    @media (min-width: 768px) {
                        list-style-type: circle;
                        color: #B3B3BA;
                    }
                }

               
            }

            li:first-child {
                list-style: none;
            }

            li:last-child {

                a {
                    color: #24A3FF;
                    text-decoration: none;

                    a:hover {
                        color: #F0145A;           
                    }
                }
            }

            .imgface {
                margin: 0 auto;
                width: 38px;

                @media (min-width: 768px) {
                    margin-right: 26px;
                }
    
            }

            .phone {
                margin-right: 26px;

                a {
                    text-decoration: none;
                    font: 700 16px'Montserrat', sans-serif;
                    line-height: 20px;
                    color: black;
                }
            }

            p {
                margin: 0;
            }
        }
    }

    &__adress {
        color: #323264;
        font: 400 16px'Montserrat', sans-serif;
        line-height: 20px;
        text-align: center;
        padding-bottom: 30px;

        p {
            margin: 0;
        }
    }
}