.container {
    width: 100%;
    background: black;
}

.new {
   list-style: none;
   margin: 0;
   padding: 0;
}

.new>li {
    display: inline-block;
    padding: 30px;
}

.new li {
    position: relative;
}

.new a {
    padding: 30px;
    display: block;
    color: white;
    text-decoration: none;
}

.new ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: green;
}

.new ul ul {
    top: 0;
    left: 100%;
}

.new li:hover>ul {
    display: block;
}

.new>li:hover {
    background: yellowgreen;
}