<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="wraper">
        <header>

        </header>
        <main id="main">
            <div class="background"> 
                <div class="container">
                    <div class="relative">
                        <div class="img-absolut">
                            <img src="./image/image-28.png" alt="image"> 
                        </div>
                        <div class="top-left">
                            <a href="#"><img src="./image/image-09.svg" alt="image"></a>
                        </div>
                        <div class="top-right">
                            <div class="flex__leng">
                                <div class="padding">
                                    <div class="btn">
                                        <a href="#">УK</a>
                                    </div>  
                                    <div class="btn">
                                        <a href="#">РУ</a>
                                    </div>    
                                    <div class="btn btn--one">
                                        <a class="tren" href="#">EN</a>
                                    </div>
                                </div>
                                <nav>
                                    <ul class="style">
                                        <li class="grey">
                                            <address>Kyiv, Mechnikova str, 14/1</address>
                                        </li>
                                        <li>
                                            <p>
                                                <a class="white white--check" href="0800211927">0800 211 927</a>
                                            </p>
                                        </li>
                                        <li class="facebook">
                                            <a href="#">
                                                <img class="facebook" src="./image/image-13.svg" alt="img" width="24">
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <nav>
                                <input id="opera" type="checkbox">
                                <label class="opera" for="opera"><span></span></label>
                                <ul class="link">
                                    <li class="link__rep">
                                        <a href="#">about us</a>
                                        <a href="#">services</a>
                                        <a href="#">team</a>
                                        <a href="#">publications</a>
                                        <a href="#">contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>    
                        <div class="center">
                            <h1>you legal solutions provider</h1>
                        </div>
                        <div class="bottom">
                            <a class="bottom__img" href="#"><img src="./image/image-14.svg" alt="image"></a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="box">
                        <input id="r1" type="radio" name="name1" checked>
                        <input id="r2" type="radio" name="name1">
                        <input id="r3" type="radio" name="name1">
                        <input id="r4" type="radio" name="name1">
                        <div class="box__box1">
                            <ul class="box__box">
                                <li>
                                    <label for="r1">Consistent</label>
                                </li>
                                <li>
                                    <label for="r2">Customer oriented</label>
                                </li>
                                <li>
                                    <label for="r3">Innovative</label>
                                </li>
                                <li>
                                    <label for="r4">Business oriented</label>
                                </li>
                            </ul>
                        </div>
                        <div class="box__box2">
                            <div id="slide1" class="tryied">
                                <h2>We turn the idea of legal services</h2>
                                <div class="tops">
                                    <p>
                                        Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in Ukraine.
                                    </p>
                                </div>
                            </div>
                            <div id="slide2" class="tryied">
                                <h2> 2 We turn the idea of legal services</h2>
                                <div class="tops">
                                    <p>
                                        Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in Ukraine.
                                    </p>
                                </div>
                            </div>
                            <div id="slide3" class="tryied">
                                <h2> 3 We turn the idea of legal services</h2>
                                <div class="tops">
                                    <p>
                                        Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in Ukraine.
                                    </p>
                                </div>
                            </div>
                            <div id="slide4" class="tryied">
                                <h2> 4 We turn the idea of legal services</h2>
                                <div class="tops">
                                    <p>
                                        Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in Ukraine.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container"> 
                    <div class="mid">
                        <a href="#"><img class="scob" src="image/image-22.svg" alt="img" width="5" height="9"></a>
                        <h4>What can we do better than others?</h4>
                        <ul class="wait">
                            <li class="wait__vbn">
                                <div class="radius">
                                    <a href="#"><img class="monot" src="./image/image-15.svg" alt="img" width="160" height="120"></a>
                                </div>
                                <h5>IT and e-commerce</h5>
                                <div class="pol">
                                    <p>An endless stream of contracts, tax issues, labor relations, corporate papers - legal work distracts you from doing business. But there is not much work to do to hire an in-house lawyer.</p>
                                </div>
                            </li>
                            <li class="wait__vbn">
                                <div class="radius">
                                    <a href="#"><img class="monot"  src="./image/image-16.svg" alt="img" width="64" height="64"></a>
                                </div>
                                <h5>Comprehensive daily legal support</h5>
                                <div class="pol">
                                    <p>In addition, over time, the work will become the same type and uninteresting for a full-time lawyer. And we know very well how difficult it is to find a good candidate with experience in the field of information technology in Ukraine.</p>
                                </div>
                            </li>
                            <li class="wait__vbn">
                                <div class="radius">
                                    <a href="#"><img class="monot" src="./image/image-17.svg" alt="img" width="64" height="64"></a>
                                </div>
                                <h5>Structuring corporate relationships</h5>
                                <div class="pol">
                                    <p>Instead of just providing legal services, we will hire a lawyer or a whole team that will fit into the daily life of your company.</p>
                                </div>
                            </li>
                            <li class="wait__vbn">
                                <div class="radius">
                                    <a href="#"><img class="monot" src="./image/image-18.svg" alt="img" width="64" height="64"></a>
                                </div>
                                <h5>Building contractual relations</h5>
                                <div class="pol">
                                    <p>Once a week, or week after month, you have your own lawyer by your side. Anyone in the company can catch it at the coffee maker and just talk about current affairs instead of waiting for update status.</p>
                                </div>
                            </li>
                            <li class="wait__vbn">
                                <div class="radius">
                                    <a href="#"><img class="monot" src="./image/image-19.svg" alt="img" width="64" height="64"></a>  
                                </div>
                                <h5>Protection of business, intellectual property</h5>
                                <div class="pol">
                                    <p>And all the other time he will work on new diverse projects, so he will definitely not stop in professional development. One way or another, all Axon Partners will work for you instead of a corporate lawyer.</p>
                                </div>
                            </li>
                            <li class="wait__vbn">
                                <div class="radius">
                                    <a href="#"><img class="monot" src="./image/image-20.svg" alt="img" width="64" height="64"></a>
                                </div>
                                <h5>Judicial representation</h5>
                                <div class="pol">
                                    <p>Is it a small, medium-sized company or a market leader? Local business or multinational company? Do you have your own legal department or not?</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grand">
                <span></span>
            </div>
            <div class="container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="poet">
                            <div class="poet__photo">
                                <img src="./image/image-29.png" alt="image">
                            </div>
                            <div class="poet__cite">
                                <div class="cite__typ">
                                    <img src="./image/image-23.svg" alt="img" width="99">
                                </div>
                                <div class="cite__blockquote">
                                    <blockquote>
                                        Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
                                    </blockquote>
                                </div>
                                <div class="pts">
                                    <div class="cite__name">
                                        <p>Олександр Олександровський</p>
                                    </div>
                                    <div class="cite__who">
                                        <p>Керуючий партнер</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                      </div>
                      <div class="swiper-slide">
                        <div class="poet">
                            <div class="poet__photo">
                                <img src="./image/image-29.png" alt="image">
                            </div>
                            <div class="poet__cite">
                                <div class="cite__typ">
                                    <img src="./image/image-23.svg" alt="img" width="99">
                                </div>
                                <div class="cite__blockquote">
                                    <blockquote>
                                        Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
                                    </blockquote>
                                </div>
                                <div class="pts">
                                    <div class="cite__name">
                                        <p>Олександр Олександровський</p>
                                    </div>
                                    <div class="cite__who">
                                        <p>Керуючий партнер</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="poet">
                            <div class="poet__photo">
                                <img src="./image/image-29.png" alt="image">
                            </div>
                            <div class="poet__cite">
                                <div class="cite__typ">
                                    <img src="./image/image-23.svg" alt="img" width="99">
                                </div>
                                <div class="cite__blockquote">
                                    <blockquote>
                                        Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, коли більшість безсилі.
                                    </blockquote>
                                </div>
                                <div class="pts">
                                    <div class="cite__name">
                                        <p>Олександр Олександровський</p>
                                    </div>
                                    <div class="cite__who">
                                        <p>Керуючий партнер</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div> 
            <div>
                <div class="company">
                    <h2>They already trust us</h2>
                    <div class="lvlup">
                        <div><a href="#"><img class="float" src="./image/image-30.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-31.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-32.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-33.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-34.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-35.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-36.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-37.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-38.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-39.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-40.png" alt="img"></a></div>
                        <div><a href="#"><img class="float" src="./image/image-41.png" alt="img"></a></div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="keys-one">
                    <div class="keys-one__wer">
                        <a href="#"><img src="./image/image-24.svg" alt="img"></a>
                    </div>
                    <h3>We have something to tell</h3>
                    <div id="mini-map__mani" class="mini-map">
                        <div class="mini-map__topbot">
                            <div>
                                <a href="#"><img src="./image/image-42.png" alt="image"></a>
                            </div>
                            <div class="port">
                                <h5>Equity associate</h5>
                                <div class="timedate">
                                    <time datetime="04-22">April 22</time>
                                </div>
                                <div class="pad">
                                    <p>I'm a jun on projects. I am a co-owner of a law firm. How it happened. Before entering my parents told me that if I…</p>
                                </div>
                            </div>
                        </div>
                        <div id="mini-map__moni" class="mini-map__topbot">
                            <div>
                                <a href="#"><img src="./image/image-43.png" alt="image"></a>
                            </div>
                            <div class="port">
                                <h5>Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR</h5>
                                <div class="timedate">
                                    <time datetime="04-22">September 29</time>
                                </div>
                                <div class="pad">
                                    <p>And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for Data Protection.</p>
                                </div>
                            </div>
                        </div>
                        <div id="mini-map__mini" class="mini-map__topbot">
                            <div>
                                <a href="#"><img src="./image/image-44.png" alt="image"></a>
                            </div>
                            <div class="port">
                                <h5>Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR</h5>
                                <div class="timedate">
                                    <time datetime="04-22">September 29</time>
                                </div>
                                <div class="pad">
                                    <p>And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for Data Protection.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-footer">
                    <nav class="bottom-footer__display">
                        <ul class="beta">
                            <li> Kyiv, Mechnikova str, 14/1</li>
                            <li><a href="#">On map</a></li>
                        </ul> 
                        <ul class="proversion">
                            <li class="imgface"><a href="#"><img src="./image/image-25.svg" alt="img" width="38"></a></li>
                            <li class="phone">
                                <p><a href="0800211927">0800 211 927</a></p>
                            </li>
                            <li><a href="#">contact@forstudy.space</a></li>
                        </ul> 
                    </nav>
                    <div class="bottom-footer__adress">
                        <p>© 2021 HLEGAL Law company, LLC</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
            const swiper = new Swiper('.swiper', {
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
    </script>
</body>
</html>